@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

html {
  direction: rtl;
}

body {
  @apply bg-cream text-brown font-arabic;
}

[dir="ltr"] {
  direction: ltr;
}

